<h1>Books</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">ISBN</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th scope="row">{{ book.id }} </th>
        <td>{{ book.title }} </td>
        <td>{{ book.author }} </td>
        <td>{{ book.isbn }} </td>
        <td><button class="btn btn-primary" (click)="onEdit(book)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  <app-book-form [book]="selectedBook"></app-book-form>