<nav class="navbar fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <div class="row" style="margin-top: 60px;">
    <div class="col-sm">
      <app-books></app-books>
    </div>
  </div>
</div>

<footer class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Copyrights reserved</a>
</footer>

